[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bakul-flipkart
[access "refs/for/refs/*"]
	read = group user/bakul-flipkart
	push = group user/bakul-flipkart
	label-Code-Review = -2..+2 group user/bakul-flipkart
	label-Verified = -1..+1 group user/bakul-flipkart
	rebase = group user/bakul-flipkart
	removeReviewer = group user/bakul-flipkart
	submit = group user/bakul-flipkart
[access "refs/heads/*"]
	read = group user/bakul-flipkart
	create = group user/bakul-flipkart
	push = +force group user/bakul-flipkart
	pushMerge = group user/bakul-flipkart
[access "refs/tags/*"]
	push = +force group user/bakul-flipkart
	pushTag = group user/bakul-flipkart
	pushSignedTag = group user/bakul-flipkart
